.header {
  width: 100%;
  text-align: center;
  background-color: #b36b6b;
  color: #ffe6e6;
}

.header > h1 {
  font-size: 2.5rem;
  padding-top: 2%;
  padding-bottom: 2%;
}

.header > ul > li > a {
  color: #ffffff;
  font-size: 2rem;
  padding-bottom: 25px;
}

.header > ul > li > a:hover {
  color: #ff9999;
  font-size: 2rem;
}
