.header {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  background-color:#b36b6b;
  color: #ffe6e6;
}

.header > ul > li > a {
  color:#ffffff
}

.header > ul > li > a:hover {
  color:#ff9999
}