.page {
  width: 100%;
  height: fit-content;
  text-align: center;
  align-items: center;
  /* margin-top: 50px; */
  margin-bottom: 0px;
  background: url(https://reactgifsportfolio.s3.us-east-2.amazonaws.com/image-from-rawpixel-id-936981-jpeg.jpg);
  background-size: cover;
  padding-top: 10%;
}

.page > img {
  width: 20%;
  border-radius: 300px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.page > .about {
  padding-bottom: 10%;
  align-items: center;
  width: 100%;
  text-align: center;
}

.page > .about > .bio {
 
  color: rgb(5, 5, 5);
  padding: 10%;
}
.resumeDownload{
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: bold;
  font-size: 150%;
}
/* .page > .about > p {
  /* padding-bottom: 10%; */
  /* padding-top: 5%;
  width: 50%;
} */ 
