.card {
  border-radius: 2px;
  background-color: white;
  height: 1000px;
  margin: 4rem;
  position: relative;
  width: 1200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  align-items: center;
}

.card > .img-container {
  width: 70%;
  overflow: hidden;
  text-align: center;
  background: transparent;
}
.card > .img-container > img {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: transparent;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 16px;
  width: 70%;
  background-color: transparent;
  text-align: left;
}
.card > .content > .projectTitle {
  text-align: center;
}
.card > .content > .technologies > .icons {
  border-radius: 20px;
  width: 5%;
  margin-right: 5%;
  align-items: center;
}
.card > .portfolioButtons {
  background-color: blueviolet;
}
/* 
.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
  color: #5f2b2b;
}

.card > .content > ul > li > a {
  margin-top: 18px;
  color: #ff9999;
}

.card > .buttonStyle > {
  padding: 3%;
  color: #ff9999;
} */
