.portfolioCards {
 margin-left: 5%;
  
}

.card {
  border-radius: 2px;
  background-color: white;
  height: 85%;
  margin: 5%;
  position: relative;
  max-width: 80%;
  
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  align-items: center;
  padding-bottom: 5%;
}

.card > .img-container {
  width: 95%;
  overflow: hidden;
  text-align: center;
  background: transparent;
}
.card > .img-container > img {
  text-align: center;
  max-width: max-content;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: transparent;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 16px;
  width: 60%;
  background-color: transparent;
  text-align: left;
}
.card >  .projectTitle {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.card > .content > .technologies >{
  width: 100%;
}
.card > .content > .technologies > .icons {
  border-radius: 20px;
  max-width: 4%;
  min-width: 40px;
  margin-right: 5%;
  
}
.card > .portfolioButtons > .portfolioLinks {
  justify-content: left;
  margin-right: 10px;
  margin-bottom: 10%;
  size: 10px;
}
.card > .portfolioButtons > .portfolioLinks > .boton {
  background-color: #eca7a7;
  border-radius: 50px;
  size-adjust: large;
  margin-bottom: 30%;
  align-items: left;
}
.card > .portfolioButtons > .portfolioLinks > :hover {
  background-color: #d46161;
}
/* 
.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
  color: #5f2b2b;
}

.card > .content > ul > li > a {
  margin-top: 18px;
  color: #ff9999;
}

.card > .buttonStyle > {
  padding: 3%;
  color: #ff9999;
} */
